/* nền */
.stApp {
    background: linear-gradient(135deg,#0f172a,#020617);
    color: white;
}

/* tiêu đề */
.title {
    text-align:center;
    font-size:48px;
    font-weight:700;
}

/* card kết quả */
.result-box{
    background:#064e3b;
    padding:20px;
    border-radius:10px;
    font-size:22px;
}

/* upload box */
[data-testid="stFileUploader"]{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
}

/* ảnh */
img{
    border-radius:12px;
}